body {

    margin: 0;

    font-family: "Georgia", serif;

    background-color: #f8f1e7;

    color: #5a4033;

}



header {

    background-color: #ead8c0;

    text-align: center;

    padding: 45px 20px;

}



header h1 {

    font-size: 50px;

    margin: 0;

    color: #7a4b35;

}



header p {

    font-size: 20px;

}





nav {

    margin-top: 30px;

}



nav a {

    text-decoration: none;

    color: #5a4033;

    margin: 0 15px;

    font-weight: bold;

}





main {

    max-width: 1100px;

    margin: auto;

}





.hero {

    text-align: center;

    padding: 80px 20px;

}



.hero h2 {

    font-size: 38px;

}





button {

    background-color: #c98563;

    color: white;

    border: none;

    padding: 15px 30px;

    border-radius: 30px;

    font-size: 16px;

    cursor: pointer;

}






.creations {

    text-align: center;

    padding: 60px 20px;

}



.creations h2 {

    font-size: 35px;

}





.cards {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}





.card {

    background-color: #fffaf3;

    width: 270px;

    padding: 30px;

    border-radius: 25px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    transition: 0.3s;

}



.card:hover {

    transform: translateY(-8px);

}





.product-image {

    font-size: 55px;

    margin-bottom: 20px;

}




.card h3 {

    color: #7a4b35;

    font-size: 25px;

}





.about {

    background-color: #e3e8d5;

    margin: 40px 20px;

    padding: 45px;

    border-radius: 30px;

    text-align: center;

}





.contact {

    text-align: center;

    padding: 50px 20px;

}





footer {

    background-color: #ead8c0;

    text-align: center;

    padding: 25px;

    margin-top: 40px;

}