/* Couleurs et base du site */

body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #f8f1e7;
    color: #5a4033;
}


/* En-tête */

header {
    background-color: #ead8c0;
    text-align: center;
    padding: 40px 20px;
}


header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #7a4b35;
}


header p {
    font-size: 20px;
}


/* Navigation */

nav {
    margin-top: 30px;
}


nav a {
    text-decoration: none;
    color: #5a4033;
    margin: 0 15px;
    font-weight: bold;
}


/* Partie principale */

main {
    max-width: 1000px;
    margin: auto;
}


/* Accueil */

.hero {
    text-align: center;
    padding: 70px 20px;
}


.hero h2 {
    font-size: 36px;
}


.hero button {
    margin-top: 25px;
    background-color: #c98563;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}


/* Cartes créations */

.creations {
    text-align: center;
    padding: 50px 20px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.card {
    background-color: #fffaf3;
    width: 250px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


/* Présentation */

.about {
    background-color: #e3e8d5;
    padding: 40px;
    margin: 30px 20px;
    border-radius: 25px;
    text-align: center;
}


/* Pied de page */

footer {
    text-align: center;
    padding: 25px;
    background-color: #ead8c0;
    margin-top: 40px;
}